#cv-button {
    color: #22335f;
    padding: 1rem 3rem 1rem 3rem !important;
}

.main-container {
    max-width: 72.5rem !important;
}

#background-canvas-left {
    position: absolute;
    z-index: -1;
    left: 0;
}

#background-canvas-right {
    position: absolute;
    z-index: -1;
    right: 0;
}