@media screen and (max-width: 576px) {
    .image-stack {
        display: none;
    }

    .image-col {
        min-width: 80vw;
        display: block;
    }

    .video-col {
        min-width: 80vw;
    }
}

@media screen and (min-width: 577px) {
    .image-stack {
        display: grid;
        grid-template: 1fr / 1fr;
        place-items: center;
    }

        .image-stack > * {
            grid-column: 1 / 1;
            grid-row: 1 / 1;
        }

    .image-col {
        display: none;
    }
}

.image-stack-item {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.image-stack:hover .image-item-1 {
    transform: translate(100%, 200%);
    opacity: 1;
    transition: 1s all ease;
}

.image-stack:hover .image-item-2 {
    transform: translate(80%, 160%);
    opacity: 1;
    transition: 1s all ease;
}

.image-stack:hover .image-item-3 {
    transform: translate(60%, 120%);
    opacity: 1;
    transition: 1s all ease;
}

.image-stack:hover .image-item-4 {
    transform: translate(40%, 80%);
    opacity: 1;
    transition: 1s all ease;
}

.image-stack:hover .image-item-5 {
    transform: translate(20%, 40%);
    opacity: 1;
    transition: 1s all ease;
}