@media screen and (max-width: 576px) {
    .image-col {
        min-width: 80vw;
        display: block;
    }

    .video-col {
        min-width: 80vw;
    }
}

.image-stack-item {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.image-stack:hover .image-item-1 {
    transform: translate(100%, 200%);
    opacity: 1;
    transition: 500ms all ease;
}

.image-stack:hover .image-item-2 {
    transform: translate(80%, 160%);
    opacity: 1;
    transition: 500ms all ease;
}

.image-stack:hover .image-item-3 {
    transform: translate(60%, 120%);
    opacity: 1;
    transition: 500ms all ease;
}

.image-stack:hover .image-item-4 {
    transform: translate(40%, 80%);
    opacity: 1;
    transition: 500ms all ease;
}

.image-stack:hover .image-item-5 {
    transform: translate(20%, 40%);
    opacity: 1;
    transition: 500ms all ease;
}

.flyux-preview-image {
    position: relative;
    width: 260px;
    height: auto;
    filter: drop-shadow(0px 10px 10px rgba(69, 101, 128, 0.4));
}

#flyux-preview-container:hover #flyux-preview-image-1 {
    transform: rotateY(0deg) rotate(-15deg) translateX(-50px);
    transition: 500ms all ease;
}

#flyux-preview-container:hover #flyux-preview-image-2 {
    transform: rotateY(0deg) rotate(-10deg) translateX(-25px) ;
    transition: 500ms all ease;
}

#flyux-preview-container:hover #flyux-preview-image-5 {
    transform: rotateY(0deg) rotate(15deg) translateX(50px) ;
    transition: 500ms all ease;
}

#flyux-preview-container:hover #flyux-preview-image-4 {
    transform: rotateY(0deg) rotate(10deg) translateX(25px);
    transition: 500ms all ease;
}

#flyux-preview-image-1 {
    top: -40px;
    left: 170px;
    transform: rotateY(0deg) rotate(-10deg);
    transition: 500ms all ease;
    z-index: 1;
}

#flyux-preview-image-2 {
    top: -20px;
    left: 80px;
    transform: rotateY(0deg) rotate(-5deg);
    transition: 500ms all ease;
    z-index: 2;
}

#flyux-preview-image-3 {
    z-index: 3;
    transition: 500ms all ease;
}

#flyux-preview-image-4 {
    top: -20px;
    left: -80px;
    transform: rotateY(0deg) rotate(5deg);
    transition: 500ms all ease;
    z-index: 2;
}

#flyux-preview-image-5 {
    top: -40px;
    left: -170px;
    transform: rotateY(0deg) rotate(10deg);
    transition: 500ms all ease;
    z-index: 1;
}

.flyux-preview-image {
    width: 200px;
}

.flyux-screen-player-container {
    height: 828px;
}

#flyux-screen-1 {
    width: 401px;
    height: auto;
    z-index: 3;
    top: -799px;
    position: relative;
}

#flyux-statusbar-1 {
    top: -1512px;
    z-index: 2;
    position: relative;
    width: 375px;
    left: -3px;
}

#flyux-video-1 {
    width: 368px;
    height: 827px;
    z-index: 1;
    position: relative;
    left: -1px;
}


.main-container {
    max-width: 72.5rem !important;
}
