.main-container {
    max-width: 72.5rem !important;
}

.nav-link {
    color: #f1d00b;
}

#splide1 .splide__slide__container img {
    width: 80%;
    height: auto;
}

.splide__slide__container img {
    width: 77%;
    height: auto;
}

.frigo-icon {
    max-width: 80% !important;
}


#frigo-screen-1 {
    height: auto;
    max-width: 52%;
    width: 52%;
}

.concept-image {
    max-width: 25% !important;
}