.splide__slide__container {
    background-size: contain !important;
}

.helfer-preview-image {
    width: 50px;
    display: inline-block;
    position: relative;
    height: auto;
/*    box-shadow: 0 .5rem 1rem rgba(0,0,0,.25) !important;
    border-radius: 2rem;*/
}

.helfer-preview-container {
    padding-top: 6rem !important;
    perspective: 1320px;
}

#helfer-trainee-preview-image-1 {
    transform: translate(80%) scale(1) rotateY(45deg)
}

#helfer-trainee-preview-image-2 {
    transform: translate(56%) scale(1) rotateY(40deg)
}

#helfer-trainee-preview-image-3 {
    transform: translate(28%) scale(1) rotateY(37deg)
}

#helfer-trainee-preview-image-4 {
    transform: translate(-3%) scale(1) rotateY(35deg)
}

#helfer-trainee-preview-image-5 {
    transform: translate(-37%) scale(1) rotateY(30deg);
}

#helfer-trainee-preview-image-6 {
    transform: translate(-70%) scale(1) rotateY(25deg);
}

#helfer-trainee-preview-image-7 {
    transform: translate(-80%, -10%) scale(1.3) rotateY(-30deg);
}

#helfer-trainer-preview-image-1 {
    transform: translate(80%,-10%) scale(1.3) rotateY(30deg);
    z-index: 7;
}

#helfer-trainer-preview-image-2 {
    transform: translate(70%) scale(1) rotateY(-25deg);
    z-index: 6;
}

#helfer-trainer-preview-image-3 {
    transform: translate(38%) scale(1) rotateY(-30deg);
    z-index: 5;
}

#helfer-trainer-preview-image-4 {
    transform: translate(6%) scale(1) rotateY(-35deg);
    z-index: 4;
}

#helfer-trainer-preview-image-5 {
    transform: translate(-24%) scale(1) rotateY(-37deg);
    z-index: 3;
}

#helfer-trainer-preview-image-6 {
    transform: translate(-51%) scale(1) rotateY(-40deg);
    z-index: 2;
}

#helfer-trainer-preview-image-7 {
    transform: translate(-75%) scale(1) rotateY(-45deg);
    z-index: 1;
}

.helfer-screen-player-container {
}

.helfer-gif {
    width: 250px;
    height: auto;
}

.helfer-wireframe-image {
    border: 2px solid rgba(41, 88, 229, 0.25);
    border-radius: 15px;
}

.main-container {
    max-width: 72.5rem !important;
}

.nav-link {
    color: #f1d00b;
}

.first-design-image {
    max-width: 85% !important;
}